.header {
    div > p {
        font-weight: 400;
        font-size: 18px;
    }

    button {
        background   : linear-gradient(180deg, #00B2FF 0%, #006AFF 100%);
        border-radius: 20px;
        min-width: 10em !important;
    }
}

.nextui-c-egxOLa {
    max-width: unset;
}