.login-modal {
    &-button {
        background-color: #D9D9D9 !important;
        color           : #000000 !important;
        min-height      : 5em !important;

        span {
            font-size: 16px !important;

            i {
                font-size: 32px !important;
            }
        }
    }
}

.fa-google {
    background             : conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip        : text;
    color                  : transparent;
    -webkit-text-fill-color: transparent;
}