@import "~bootstrap/scss/bootstrap";

.app {    
    &-preview {
        min-height: calc(100vh - 2em) !important;
    }

    &-loading {
        background-color: transparent !important;
    }
}

.nextui-c-cgxxHA {
    box-shadow: none;           
}